* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.parent {
    display: flex;
    justify-content:center;
}

#child1 {
    border: 2px solid red;
}

#child2 {
    border: 2px solid green;
}

